<%= form_with(model: @city, local: true) do |form| %>
<%= render 'errors', object: @city %>
      
      <div class="form-group">

        <%= form.label :name %>

        <%= form.text_field :name, id: :city_name, class: 'form-control' %>

      </div>



      <div class="form-group">

        <%= form.label :country %>

        <%= form.text_field :country, id: :city_country, class: 'form-control' %>

      </div>



      <div class="form-group">

        <%= form.label :photo %>

        <%= form.text_field :photo, id: :city_photo, class: 'form-control' %>

      </div>



      <div class="form-group">

        <%= form.submit class: 'btn btn-outline-primary' %>

      </div>

    <% end %>      